@import "cssreset.css";
*,*::before,*::after{
    box-sizing: border-box;
}
$dark_green:#37523d;
$l_green:#e7eeea;
$white:#ffffff;
.frame_1{
    margin: 0 auto;
    width: 910px;
    background-color: $dark_green;
    padding: 10px;
}
.header{
    background-color: $l_green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    img{
        margin: 10px;
    }
    a{
        padding: 30px;
        text-decoration: none;
        color: $dark_green;
        // font-size: 10px;
        // font-weight: bold;
    }
}
.content{
    padding: 30px 50px;
    border-radius: 0px 0px 15px 15px;
    background-color: $white;
    display: flex;
    div{
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span{
            h2{
                margin: 30px 0px;
                font-size: 22px;
                font-weight: bold;
            }
            p{
                font-size: 16px;
                line-height: 1.5;
            }
            a{
                font-size: 20px;
                color: $dark_green;
                margin: 2px;
            }
        }
    }
}
